<% f_method = "parent_ancestors(#{node.depth}i)" %>
<div class="two wide field" id="<%= f.wrapper_input_id(f_method) %>" data-title="parent_ancestors_input">
  <%= f.collection_select f_method,
                          node.self_and_siblings.where(default_params),
                          :id,
                          :name,
                          { selected: node.id, include_blank: 'Select', label: false, on: { wrapper_all: false, wrapper_input: false } },
                          { data: { type: node.class.base_class.name, index: f.index, title: 'parent_ancestors' } } %>
</div>
