<div class="inline fields">
  <%= f.label "#{outer}_id" %>
  <% if f.object.public_send("#{outer}_id") %>
    <% f.object.public_send("#{outer}").self_and_ancestors.reverse_each do |node| %>
      <%= render partial: 'nodes/outer_options', locals: { f: f, node: node } %>
    <% end %>
  <% else %>
    <%= render partial: 'nodes/outer_options', locals: { f: f, node: (class_name ||= outer).classify.constantize.new } %>
  <% end %>
</div>
