<div class="two wide field" id="<%= "#{outer}_wrapper_#{node.depth}" %>">
<%= f.collection_select "#{outer}_ancestors(#{node.depth}i)",
                        node.self_and_siblings,
                        :id,
                        :name,
                        { selected: node.id, include_blank: 'Select', label: false, on: { wrapper_all: false, wrapper_input: false } },
                        { data: { outer: f.object.class.name, type: outer.classify, title: 'outer_ancestors' } } %>
</div>