<% root = f.object.public_send("#{outer}") %>
<% outer_class = f.object.class.reflections[outer.to_s].klass %>
<div class="inline fields">
  <%= f.label "#{outer}_id" %>
  <% if root %>
    <% root.self_and_ancestors.reverse_each do |node| %>
      <%= render partial: 'nodes/outer_options', locals: { f: f, node: node, depth: node.depth } %>
    <% end %>
  <% else %>
    <%= render partial: 'nodes/outer_options', locals: { f: f, node: outer_class.new, depth: 0 } %>
  <% end %>
</div>
