<% f_method = "#{outer}_ancestors(#{depth}i)" %>
<div class="field is-narrow control" id="<%= "#{f_method}_input" %>" data-title="outer_ancestors_input">
  <div class="select is-fullwidth">
  <%= f.collection_select(
          f_method,
          node.children,
          :id,
          :name,
          { selected: node.id, include_blank: true, can: { label: false, wrap_all: false, wrap_input: false } },
          { data: { node_type: node.class.base_class.name, index: f.index, as: f.object_name, method: f_method, outer: outer, title: 'outer_ancestors' } }
      )
  %>
  </div>
</div>
