<% root = f.object.public_send("#{outer}") %>
<% real_node = node || f.object.class.reflections[outer.to_s].klass.new %>
<div class="inline fields">
  <%= f.label "#{outer}_id" %>
  <% if root %>
    <% root.self_and_ancestors.reverse_each do |node| %>
      <%= render partial: 'nodes/outer_options', locals: { f: f, node: node, depth: node.depth, outer: outer } %>
    <% end %>
  <% else %>
    <%= render partial: 'nodes/outer_options', locals: { f: f, node: real_node, depth: 0, outer: outer } %>
  <% end %>
</div>
