<div class="inline fields">
  <%= f.label :parent_ancestors %>
  <% if f.object.ancestors.present? %>
    <% f.object.ancestors.reverse_each do |node| %>
      <%= render partial: 'nodes/siblings_options', locals: { f: f, node: node } %>
    <% end %>
  <% else %>
    <%= render partial: 'nodes/siblings_options', locals: { f: f, node: node } %>
  <% end %>
</div>
