<div class="ui vertical fluid icon menu">
  <div class="header center link item" id="close_side">
    <i class="content icon"></i>
  </div>
  <div class="item ui dropdown">
    <a class="<%= active_helper(controllers: ['tags', 'taxons'], active_class: 'title active', item_class: 'title') %>">
      <i class="star icon"></i>
      <span>标签/分类</span>
    </a>
    <div class="<%= active_helper(controllers: ['tags', 'taxons'], active_class: 'menu content active', item_class: 'menu content') %>">
      <%= link_to '标签管理', admin_tags_path, class: active_helper(controllers: 'tags') %>
      <%= link_to '分类管理', admin_taxons_path, class: active_helper(controllers: 'taxons') %>
    </div>
  </div>
</div>

