<div class="ui segment breadcrumb">
  <%= link_to 'Back', admin_taxons_path, class: 'section' %>
  <div class="divider">/</div>
  <div class="active section">Edit</div>
</div>

<div class="ui segment">
  <%= form_with model: @taxon, scope: :taxon, url: admin_taxon_path(@taxon), local: true do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>
